.load1 {
    border-radius: 80px;
    width: 80px;
    height: 80px;
    color:rgb(54, 122, 181);
    /*animation-duration: 100s; */

    border-left: 1px solid;
    border-right: 1px solid;
    animation: spin1 3s infinite;
}
@keyframes spin1 {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}