#float {
    border-radius: 80px;
    width: 80px;
    height: 80px;
    animation: flt 3s infinite;
    margin-top: 300px;
    margin-left: 400px;

}
@keyframes flt {
    50% {transform: translateY(100px);}
    50% {transform: translateY(-100px);}
    50% {box-shadow: 1px 1px 1px;}
    50% {box-shadow: 5px 5px 5px;}
}