.twoinlinebox {
    font-size: 60px;
}
#boxone {
    padding: 0px 64px;
    border: 2px solid aquamarine;
}
#boxtwo {
    padding: 24px 36px;
    border: 2px solid brown;
    margin-left: 36px;
}
.boxthree {
    width: 480px;
    border: 2px solid blue;
    margin-top: 48px;
    padding-left: 24px;
    font-size: 60px;
}