.bt {
    display: flex;
    justify-content:space-around;
    gap: 40px;
}
.button {
    width: 50px;
    height: 20px;
    transform: skewX(20deg);
    transition: transform 2s;
    margin-top: 50px;
    
}
.button:hover {
    width: 300px;
    transform: rotate(360deg);
    box-shadow: 20px 10px;
    transform: stran;
}